$MAIN_COLOR1:#FDF5F4;
$MAIN_COLOR2:#F4E1DD;
$MAIN_COLOR3:#BD937B;
$GOLD_COLOR:#B39365;
.diary__trainer .diary-container{
    max-width: 600px;
   
}
.select-client{
    background-color: $MAIN_COLOR2;
}
.table__group{
    display: flex;
}